<div class="card articleFig mb-4" (click)="showArticle(article)">
  <!-- <img class="card-img-top" src="https://placehold.it/300x150" alt="Obrazek w karcie"> -->
  <div class="art">
    <img class="card-img-top imgArtcicle" [src]="article.link" alt="Obrazek w karcie">
    <div class="infoArticle text-right mb-1">
      <span class="mr-3"><i class="fa fa fa-eye pr-2"></i>{{ article.viewed }}</span>
      <span class="mr-3"><i class="fa fa fa-calendar pr-2"></i>{{ article.dateModified | date: "dd.MM.yy" }}</span>
      
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ article.title }}</p>
  </div>
  <div class="card-footer text-right">
    {{ article.author }}
  </div>
</div>

