<div class="card articleFig mb-4" (click)="openArticle(article)">
  <div class="art">

    <div class="card-img-top imgArtcicle text-center" [style.background]="bcolor">
      <i class="fa fa-3x mt-5" [ngClass]="faIcon" [style.color]="tcolor"></i>
    </div>

    <div class="infoArticle text-right mb-1">
      <span class="mr-3" [style.color]="tcolor"><i class="fa fa-thumbs-up pr-2" [style.color]="tcolor"></i>{{ likes }}</span>
      <span class="mr-3" [style.color]="tcolor"><i class="fa fa-calendar pr-2" [style.color]="tcolor"></i>{{ article.dateModified | date: "dd.MM.yy" }}</span>
      
    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ article.title }}</p>
  </div>
  <div class="card-footer text-right">
    {{ article.author }}
  </div>
</div>

