.container {
    max-width: 1140px;
}
.profileBgr {
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (min-width: 992px) {
    .profileImg {
        text-align: right;
    }
    .profileText {
        text-align: left;
    }
}
.heading {
    background: #f3f1f1 url('/assets/img/account2.jpg') no-repeat center;
    background-size: cover;
    min-height: 340px;



}
.profileText h1 {
    color: #ff0d85;
}
.artImgBgr {
    background-color: #ffc926;;
}
.favoriteImgBgr {
    background-color: #08c5c5;
}

.artFig:hover .artImgBgr, .artFig .isArt {
    background-color: #ff9426;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}
.favFig:hover .favoriteImgBgr, .favFig .isFav {
    background-color: #0888c5;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}


.figure {
    cursor: pointer;
}

/*  */


.btn-group {
    display: block;
}
.btn-success {
    background-color: #36b563;
}
.btn-danger {
    background-color: #e44c5a;
}
.btn-success:hover {
    background-color: #28a745;
}
.btn-danger:hover {
    background-color: #dc3545;
}

@media screen and (max-width: 575px) {
    
    .btn {
        width: 100%;
        border-radius: 0;
    }
    .btn-success {
        border-top-right-radius: .25rem !important;
        border-top-left-radius: .25rem;
    }
    .btn-danger {
        border-bottom-right-radius: .25rem;
        border-bottom-left-radius: .25rem !important;
    }
}
