<div class="container py-5">
  <div class="profileBgr pb-5">
    <div class="heading py-5 px-md-5">
        <div class="text-center profileText">
            <h1 class="pt-5">{{ user?.username }}</h1>
            <h4><strong>{{ user?.email }} </strong></h4>
        </div>
    </div>
    <div class="info pt-5 pb-3">
      <div class="row justify-content-center pt-4">
        <div class="col-md-3 pb-4 text-center">
  
          <figure class="figure artFig" (click)="showUserArticles()">
            <img src="assets/img/articles_300_inv.png" width="160" class="figure-img img-fluid rounded-circle artImgBgr" alt="articles"
            [ngClass]="{'isArt': myArticles}">
            <figcaption class="figure-caption text-center"><h5>Moje artykuły</h5></figcaption>
          </figure>
  
        </div>
        <div class="col-md-3 pb-4 text-center">
  
          <figure class="figure favFig" (click)="showFavorites()">
            <img src="assets/img/like_300_2_inv.png" width="160" class="figure-img img-fluid rounded-circle favoriteImgBgr" alt="favorite articles"
            [ngClass]="{'isFav': myFavorites}">
            <figcaption class="figure-caption text-center"><h5>Ulubione artykuły</h5></figcaption>
          </figure>
        </div>
      </div>
    </div>


    <div *ngIf="myArticles" class="mx-3 mx-md-5">
      <app-is-articles
      [artLength]="articles.length"
      [selCat]="selCat"
      (selectCat)=onSelectCat($event)>

      </app-is-articles>
           
      <div class="row" *ngIf="articles.length > 0; else noArticles">
        <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let art of articles">
          <app-collapsed-article (showArticle)="onGotoArticle($event)"
          [article]="art">
          </app-collapsed-article>
          <div class="btn-group text-center mb-4">
            <button type="button" (click)="onEdit(art)" class="btn btn-success">Edytuj<i class="fa fa-edit ml-2 my-auto"></i></button>
            <button 
              type="button" 
              class="btn btn-danger"
              (click)="remArticle(art)"
            >Usuń<i class="fa fa-trash ml-2 my-auto"></i></button>
          </div> 
        </div>
        
        <app-confirm-remove 
        *ngIf="confRemove"
        [articleTitle]="article.title"
        (removeAnsw)=onRemoveAnsw($event)
        ></app-confirm-remove>
        
      </div>
    </div>


    <div *ngIf="myFavorites" class="mx-3 mx-md-5">
      <app-is-articles
      [artLength]="favArticles.length"
      [selCat]="favSelCat"
      (selectCat)=onSelectFavCat($event)>
      </app-is-articles> 
      
      <div class="row" *ngIf="favArticles.length > 0; else noArticles">
        <div class="col-6 col-md-4 col-lg-3 mb-4" *ngFor="let art of favArticles">
          <app-collapsed-article (showArticle)="onGotoArticle($event)"
          [article]="art">
          </app-collapsed-article>
        </div>
      </div>
      
    </div>

  </div>
</div>

<ng-template #noArticles>
    <h3 class="text-center">Nie masz artykułów z tej kategorii<i class="fa fa-frown-o pl-2"></i></h3>
</ng-template>