<div class="container py-5">
  <div class="profileBgr">
    <div class="heading py-5 px-md-5">
      <div class="row justify-content-center">
        <div class="col-lg-4 profileImg">
            <img src="assets/img/profile1.png" width="240px">
        </div>
        <div class="col-lg-8 profileText">
            <h1 class="text-uppercase pt-5">{{ user?.username }}</h1>
            <h4><strong>Email: {{ user?.email }} </strong></h4>
            <!-- <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p> -->
            <!-- <p><strong>Skills: </strong> -->
        </div>
      </div>
    </div>
    <div class="info py-5">
      <div class="row justify-content-center pt-4">
        <div class="col-md-3 pb-4 text-center">
  
          <figure class="figure artFig">
            <img src="assets/img/articles_300_inv.png" width="160" class="figure-img img-fluid rounded-circle artImgBgr" alt="articles">
            <figcaption class="figure-caption text-center"><h5>Moje artykuły</h5></figcaption>
            <!-- <i class="fa fa-arrow-alt-down"></i> -->
          </figure>
  
          <!-- <h2><strong> 20,7K </strong></h2>                    
          <p>Moje artykuły</p> -->
        </div>
        <div class="col-md-3 pb-4 text-center">
  
          <figure class="figure favFig">
            <img src="assets/img/favorite_300_inv.png" width="160" class="figure-img img-fluid rounded-circle favoriteImgBgr" alt="favorite">
            <figcaption class="figure-caption text-center"><h5>Ulubione artykuły</h5></figcaption>
          </figure>
  
          <!-- <h2><strong> 20,7K </strong></h2>                    
          <p>Moje artykuły</p> -->
        </div>
        <div class="col-md-3 pb-4 text-center">
  
          <figure class="figure setFig">
            <img src="assets/img/settings_300_inv.png" width="160" class="figure-img img-fluid rounded-circle setImgBgr" alt="settings">
            <figcaption class="figure-caption text-center"><h5>Ustawienia konta</h5></figcaption>
          </figure>
  
          <!-- <h2><strong> 20,7K </strong></h2>                    
          <p>Moje artykuły</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    	 <div class="well profile">
            <div class="col-sm-12">
                <div class="col-xs-12 col-sm-8">
                    <h2>Nicole Pearson</h2>
                    <p><strong>About: </strong> Web Designer / UI. </p>
                    <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                    <p><strong>Skills: </strong>
                        <span class="tags">html5</span> 
                        <span class="tags">css3</span>
                        <span class="tags">jquery</span>
                        <span class="tags">bootstrap3</span>
                    </p>
                </div>             
                <div class="col-xs-12 col-sm-4 text-center">
                    <figure>
                        <img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">
                        <figcaption class="ratings">
                            <p>Ratings
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                <span class="fa fa-star"></span>
                            </a>
                            <a href="#">
                                 <span class="fa fa-star-o"></span>
                            </a> 
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>             -->