<div class="container py-5">
  <div class="profileBgr pb-5">
    <div class="heading py-5 px-md-5">
      <div class="row justify-content-center">
        <div class="col-lg-4 profileImg">
            <img src="assets/img/profile1.png" width="240px">
        </div>
        <div class="col-lg-8 profileText">
            <h1 class="pt-5">{{ user?.username }}</h1>
            <h4><strong>Email: {{ user?.email }} </strong></h4>
            <!-- <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p> -->
            <!-- <p><strong>Skills: </strong> -->
        </div>
      </div>
    </div>
    <div class="info py-5">
      <div class="row justify-content-center pt-4">
        <div class="col-md-3 pb-4 text-center">
  
          <figure class="figure artFig" (click)="showUserArticles()">
            <img src="assets/img/articles_300_inv.png" width="160" class="figure-img img-fluid rounded-circle artImgBgr" alt="articles">
            <figcaption class="figure-caption text-center"><h5>Moje artykuły</h5></figcaption>
            <!-- <i class="fa fa-arrow-alt-down"></i> -->
          </figure>
  
          <!-- <h2><strong> 20,7K </strong></h2>                    
          <p>Moje artykuły</p> -->
        </div>
        <div class="col-md-3 pb-4 text-center">
  
          <figure class="figure favFig">
            <img src="assets/img/favorite_300_inv.png" width="160" class="figure-img img-fluid rounded-circle favoriteImgBgr" alt="favorite">
            <figcaption class="figure-caption text-center"><h5>Ulubione artykuły</h5></figcaption>
          </figure>
  
          <!-- <h2><strong> 20,7K </strong></h2>                    
          <p>Moje artykuły</p> -->
        </div>
        <div class="col-md-3 pb-4 text-center">
  
          <figure class="figure setFig">
            <img src="assets/img/settings_300_inv.png" width="160" class="figure-img img-fluid rounded-circle setImgBgr" alt="settings">
            <figcaption class="figure-caption text-center"><h5>Ustawienia konta</h5></figcaption>
          </figure>
  
        </div>
      </div>
    </div>

    <div *ngIf="myArticles" class="mx-3 mx-md-5">
      <div class="heading mb-5 ml-md-3">
          <h2 class="pb-2">Moje artykuły: {{articles.length}}</h2>
      </div>

      <div class="row">
        <div class="col-6 col-md-4 col-lg-3 text-center mb-4" *ngFor="let art of articles">
          <app-collapsed-article (onShowArticle)="gotoArticle($event)"
          [article]="art">
          </app-collapsed-article>
          <div class="btn-group">
            <button type="button" (click)="onEdit()" class="btn btn-success">Edytuj<i class="fa fa-edit ml-2 my-auto"></i></button>
            <button 
              type="button" 
              class="btn btn-danger"
              (click)="removeArticle(art)"
            >Usuń<i class="fa fa-trash ml-2 my-auto"></i></button>
          </div> 
        </div>
      </div>
      
    </div>

  </div>
</div>
