.container {
    border-bottom: 1px solid rgb(104, 104, 104);
}
@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}
.row {
    margin-right: 0; 
    margin-left: 0;
}
.form-control {
    border: 2px solid #499273;
    border-radius:  0;
}


.btnSearch {
    color: #fcfcfc;
    background-color: #499273;
    border-color: #499273;
    border-radius: 0 .25rem .25rem 0;
}
