<div class="container pt-4 pb-4 mb-4">
  <!-- <div class="clearfix"> -->
    <form class="form-inline row justify-content-md-center my-2 my-lg-0">
      <input class="form-control rounded-left col col-md-5" type="search" placeholder="Szukaj ..." aria-label="Search">
      <button class="btn btnSearch border-left-0 my-2 my-sm-0 col-2 col-sm-1" type="submit"><i class="fa fa-search"></i></button>
      <select class="form-control rounded ml-sm-3 search-slt col-auto selectCat" id="exampleFormControlSelect1">
          <option hidden value="">Wszystkie kategorie</option>
          <option value="">Popolarne</option>
          <option value="">Sztuka</option>
          <option value="">Psychologia</option>
      </select>
    </form>
  <!-- </div> -->
</div>
