
.sectionHeading {
    border-top: 2px solid #e8e8e8;
    
}
.sectionHeading h2 {
    border-bottom: 2px solid #969696;
    text-align: center;
}
@media (min-width: 992px) {
    .sectionHeading h2 {
        width: 70%;
        text-align: left;
    }
    .custom-select {
        width: 200px;
        display: block;
    }
}

.selCat {
    text-transform: uppercase;
    color: #c75253;
}
.labelStyle {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 0.5rem;
}