<div class="output">
  <div class="container-fluid imgBgr">
  </div>
  <div class="container-fluid heading text-center">
    <h1 class="mx-auto px-3 hMarg">stwórz własny niepowtarzalny artykuł</h1>
    <div class="pt-4">
      <img src="./assets/img/cup.png" width="60px" alt="cup of coffee">
    </div>
  </div>
</div>

<div class="container text-center mt-4">
  <h5 class="mx-auto">Stworzony przez Ciebie artykuł zostanie sprawdzony przez moderatora i po tym opublikowany na serwisie</h5>
</div>

<div class="container contBgr py-5 my-5 px-md-5">
  <form [formGroup]="newArtForm" (ngSubmit)="editArticle()">
    <div class="form-group">
      <label for="title" class="labelStyle">Tytuł artykułu</label>
      <input type="text" class="form-control" id="title" formControlName="title" placeholder="">
      <div *ngIf="newArtForm.get('title').invalid && newArtForm.get('title').touched"
				    class="alert alert-danger mt-2">
				    <div [hidden]="!newArtForm.get('title').errors['required']">
				      Podaj tytuł (od 2 do 12 znaków)
				    </div>
				    <div [hidden]="!newArtForm.get('title').errors['minlength']">
				      Podaj tytuł (od 2 do 12 znaków)
				    </div>
				    <div [hidden]="!newArtForm.get('title').errors['maxlength']">
				      Podaj tytuł (od 2 do 12 znaków)
				    </div>
				</div>
    </div>

    <div class="form-group">
      <label for="category" class="labelStyle">Kategoria</label>
      <select class="form-control custom-select" id="category" formControlName="category">
        <option value="popularne">Popularne</option>
        <option value="sztuka">Sztuka</option>
        <option value="psychologia">Psychologia</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description" class="labelStyle">Zawartość artykułu</label>
      <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
    </div>
    
    <div class="form-group">
      <label for="articleImg" class="labelStyle">Zdjęcie lub kolor tła</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="link" formControlName="link" [value]="colorLink">
        <label class="form-check-label" for="link">
          Kolor domyślny
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="urlLink" formControlName="link" [value]=urlLink>
        <label class="form-check-label" for="urlLink">
          <input value="" (change)="onValue($event)" type="file" class="form-control-file">
        </label>
      </div>
    </div>

    <div class="form-group">
      <label for="author" class="labelStyle">Widoczność autora w artykule</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="isAuthor" formControlName="author" [value]="user.username">
        <label class="form-check-label" for="isAuthor">Pokaż autora</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="noAuthor" formControlName="author" value="Anonim">
        <label class="form-check-label" for="noAuthor">Zostań anonimem</label>
      </div>
    </div>

    <div class="btnGroup">
      <button type="button" (click)="onReset()" class="btn btn-lg btnReset mr-4">Anuluj<i class="fa fa-trash ml-2 my-auto"></i></button>
      <button 
        type="submit" 
        [disabled]="newArtForm.invalid"
        class="btn btn-lg pinkBtn"
      >Dodaj artykuł<i class="fa fa-save ml-2 my-auto"></i></button>
    </div> 

    <div *ngIf="reset && newArtForm.get('title').untouched && newArtForm.get('description').untouched" class="alert alert-info mt-2">
        Forma została zresetowana
    </div>
    <div *ngIf="submit && newArtForm.get('title').untouched && newArtForm.get('description').untouched" class="alert alert-success mt-2">
        Artukuł został dodany
    </div>

  </form>
</div>