.page-footer {
    background-color: #2e3b4c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 72px; 
}
.footer-copyright {
    color: #fcfcfc;
}
.footer-copyright a {
    color: #f0686a;
}