<!-- <div class="output">
  <div class="container-fluid imgBgr" [ngStyle]="{'background-image': getBgrUrl()}">
  </div>
  <div class="container-fluid heading text-center">
    <h1 class="mx-auto px-3 hMarg">{{ article.title }}</h1>
    <div class="infoArticle pt-4">
      <h2 class="mx-auto px-3 hMarg">
        <span class="mr-2 mr-sm-3"><i class="fa fa fa-eye pr-2"></i>{{ article.viewed }}</span>
        <span class="ml-2 mr-sm-3"><i class="fa fa fa-calendar pr-2"></i>{{ article.dateModified | date: "dd.mm.yy" }}</span>
      </h2>
    </div>
  </div>
</div>

<div class="container mt-n5 text-right">
    <button type="button" class="faBtn" (click)="onFavorite()">
      <i class="fa fa-star fa-3x"
      [ngStyle]="{'background-color': isFavorite ? '#f5ad0d' : '#08c5c5'}">
      </i>
    </button>
</div>

<div class="container my-5">
  <p>{{ article.description }}</p>
  
</div> -->

<!-- <div class="container-fluid imgBgr" [ngStyle]="{'background-image': getBgrUrl()}"> -->
<div class="container-fluid imgBgr" [ngStyle]="checkBgr()">
  <div class="heading text-center">
    <h1 class="mx-auto px-3 hMarg">{{ article.title }}</h1>
    <div class="infoArticle pt-4">
      <h2 class="mx-auto px-3 hMarg">
        <span class="mr-2 mr-sm-3"><i class="fa fa fa-eye pr-2"></i>{{ article.viewed }}</span>
        <span class="ml-2 mr-sm-3"><i class="fa fa fa-calendar pr-2"></i>{{ article.dateModified | date: "dd.MM.yy" }}</span>
      </h2>
    </div>
  </div>
</div>

<div class="container mt-n5 text-right">
    <button type="button" class="faBtn" (click)="onFavorite()">
      <i class="fa fa-star fa-3x"
      [ngStyle]="{'background-color': isFavorite ? '#f5ad0d' : '#08c5c5'}">
      </i>
    </button>
</div>

<div class="container my-5">
  <p>{{ article.description }}</p>
  
</div>