<ng-container *ngIf="article; else noArticle">
  <div class="container-fluid imgBgr" [style.background]="bcolor">
    <div class="heading text-center">
      <h1 class="mx-auto px-3 hMarg" [style.color]="tcolor">{{ article.title }}</h1>
      <div class="infoArticle pt-5 mt-5">
        <i class="fa fa-3x" [ngClass]="faIcon" [style.color]="tcolor"></i>
        <h4 class="mx-auto px-3 pb-4" [style.color]="tcolor">{{ article.author }}</h4>
        <h2 class="mx-auto px-3 hMarg">
          <span class="mr-2 mr-sm-3" [style.color]="tcolor"><i class="fa fa-thumbs-up pr-2" [style.color]="tcolor"></i>{{ likes.length }}</span>
          <span class="ml-2 mr-sm-3" [style.color]="tcolor"><i class="fa fa-calendar pr-2" [style.color]="tcolor"></i>{{ article.dateModified | date: "dd.MM.yy" }}</span>
        </h2>
      </div>
    </div>
  </div>
  
  <div class="container mt-n5 text-right">
    <button type="button" class="faBtn" (click)="onLike()">
      <i class="fa fa-thumbs-up fa-3x iBtn"
      [ngStyle]="{'background-color': isLiked ? '#FF5722' : '#08c5c5'}">
      </i>
    </button>
    <button type="button" class="faBtn" (click)="onFavorite()">
      <i class="fa fa-star fa-3x iBtn"
      [ngStyle]="{'background-color': isFavorite ? '#f5ad0d' : '#2cc585'}">
      </i>
    </button>
  </div>
  
  <div class="container my-5">
  <p *ngIf="error" class="text-center mt-4 mb-4 alert alert-danger">{{error}}</p>

    <p>{{ article.description }}</p>
    
  </div>
</ng-container>

<ng-template #noArticle>
  <div class="container py-5">
    <div class="contBgr py-5">
      <h3 class="text-center">Artykuł o podanym tytule nie został znaleziony<i class="fa fa-frown-o pl-2"></i></h3>
    </div>
  </div>
</ng-template>

