.imgBgr {
    min-height: 600px;
    position: relative;
    text-align: center;
   
    z-index: -1;
}
.heading {
    padding-top: 140px;
    padding-bottom: 140px;
    color: white;
}

.faBtn{
    background-color: inherit;
    border: 0;
    z-index: 1;
}
.iBtn {
    color: #fcfcfc;
    /* background-color: #08c5c5; */
    padding: 14px;
    border-radius: 50%;
}


.heading h1, .heading h2 {
    max-width: 60%;
}


@media screen and (max-width: 576px) {
    .heading h1 {
        font-size: 2.2rem;
        max-width: 100%;
    }
    .heading h2 {
        font-size: 1.6rem;
        max-width: 100%;
    }

    .imgBgr {
        min-height: 460px;
    }
}
p {
    line-height: 2;
}
