<div class="container pt-4 pb-4 mb-5">
    <form class="form-inline row justify-content-md-center my-2 my-lg-0">
      
      <input class="form-control rounded-left col col-md-5" [(ngModel)]="searchText" type="text" name="search" [placeholder]="searchPlaceholder" aria-label="Search">
      <button #mySearch class="btn btnSearch my-2 my-sm-0 col-2 col-sm-1" type="submit" (click)="onSearch()"><i class="fa fa-search"></i></button>
      
      <select [(ngModel)]="selectedCat" (change)="selectCategory()" name="selectCat" class="form-control rounded ml-sm-3 search-slt col-auto selectCat">
        <option *ngFor="let cat of catOptions" [value]=cat.value>
          {{cat.name}}
        </option>
      </select>

    </form>
</div>
