<div class="container">
  <div class="col-lg-7 col-xl-6  mx-auto my-5">
    <form class="form-inline">
      <input class="form-control rounded-left col-6" type="search" placeholder="Szukaj ..." aria-label="Search">
      <select class="form-control border-left-0 rounded-0 search-slt col-5" id="exampleFormControlSelect1">
          <option hidden value="">Wszystkie kategorie</option>
          <option value="">Popolarne</option>
          <option value="">Sztuka</option>
          <option value="">Psychologia</option>
      </select>
      <button class="btn btnSearch border-left-0 my-2 my-sm-0 col-1" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>