<div class="rem-modal">

  <!-- Modal content -->
  <div class="modal-content p-4">
    <div class="text-right mr-n2 mt-n3">
      <span (click)="closeModal()" class="close">&times;</span>
    </div>
    <h5 class="text-center text-center my-2 pb-4">Czy na pewno chcesz usunąć artykuł?</h5>
    <div class="modal-footer mx-auto pt-4 pb-2 mb-4">
      <button type="button" (click)="closeModal()" class="btn btnReset">NIE</button>
      <button type="button" (click)="yesRemove()" class="btn btnPink">Tak, chcę usunąć</button>
    </div>
  </div>

</div>