<nav class="navbar fixed-top navbar-expand-lg navbar-dark bgPink py-2">
  <div class="container">
    <!-- <a class="navbar-brand ml-5 mx-4" href="/"><img src="/assets/images/logo5.jpg" width="160px"></a> -->
    <a class="navbar-brand mr-lg-5" [routerLink]="['/kategorie']"><img src="/assets/images/logo13.png" width="260px"></a>
    
    <button (click)="toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span><i [class]="toggleIcon()"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02"
    [ngClass]="{'toggleOn': toggleBtn}">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li appDropdown class="dropPos nav-item px-md-4" routerLinkActive="activeKat">
          <a class="dropdown-toggle nav-link" [routerLink]="['/kategorie']"><i class="fa fa-folder-open-o fa-2x faNav mb-1"></i>kategorie
          <span class="caret"></span></a>
          <ul class="drop-menu showDrop mb-3">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/kategorie', 'popularne']">Popularne</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/kategorie', 'sztuka']">Sztuka</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['/kategorie', 'psychologia']">Psychologia</a>
            </li>
          </ul>
        </li>
        <li class="nav-item px-md-4" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/dodaj-artykul']"><i class="fa fa-plus-square-o fa-2x faNav mb-1"></i>dodaj artykuł</a>
        </li>
        <!-- <li class="nav-item px-md-4" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/konto']"><i class="fa fa-user-o fa-2x faNav mb-1"></i>konto</a>
        </li> -->
        <li class="nav-item px-md-4" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/konto/rejestracja']"><i class="fa fa-user-plus fa-2x faNav mb-1"></i>zarejestruj się</a>
        </li>
        <li class="nav-item px-md-4" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/konto/logowanie']"><i class="fa fa-sign-in fa-2x faNav mb-1"></i>zaloguj</a>
        </li>
        <li class="nav-item px-md-4" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/moje-konto']"><i class="fa fa-user-o fa-2x faNav mb-1"></i>Moje konto</a>
        </li>
      </ul>
      <!-- </div> -->
    </div>
  </div>
</nav>
