.bgPink {
    background-color: #f0686a;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}

/* .navbar-brand {
    margin-right: 3rem;
} */
.navbar-nav li {
    text-transform: uppercase;
    color: #fcfcfc;
    font-size: 14px;
    font-weight: 500;
}


.bgPink .navbar-nav .nav-link {
    color: #fcfcfc;
    /* background-color: #a05c67; */
}
.bgPink .navbar-nav .nav-item.active a, .bgPink .navbar-nav .nav-link:hover, .dropdown-menu.active a {
    color: #f8f6c4;
}

.faNav {
    display: block;
    text-align: center;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0; 
        /* padding-right: 1rem;
        padding-left: 1rem;  */
    }
    /* .nav-link {
        padding: 0;
    } */
   
}

@media (max-width: 991px) {
    .faNav {
        display: inline-block;
        padding-right: 12px;
        font-size: 1.4em;
    }
    .bgPink .navbar-nav .nav-link {
        text-align: center;
    }
    .navbar-nav li {
        font-size: 16px;

    }
}

.dropdown-menu {
    border: none;
    background-color: #f0686a;
    padding-bottom: 0;
}
.dropdown-menu li {
    padding-left: 1.5rem!important;
    border-bottom: 1px solid #f5deb3;
}
.dropdown-menu li:hover, .dropdown-menu .active {
    background-color: #b66;
}

.dropdown-toggle {
    cursor: pointer;    
}

.bgPink .navbar-nav .nav-item.activeCat a.dropdown-toggle {
    color: #f8f6c4;
}

