<div class="container">
  <div class="row">
    <!-- <h1>Kategoria: </h1> -->
    <!-- <app-collapsed-category
      class="mb-5"
      *ngFor="let i of [1,2,3,4]">
    </app-collapsed-category> -->

    <div  *ngFor="let cat of categories">
      <app-collapsed-category
        class="mb-5"
        [category]="cat"
        [showFour]="showFour">
        <div class="btnSeeMore mt-4 mr-md-3">
          <app-btn-see-more
          [articleCategory]="cat"></app-btn-see-more>
        </div>
      </app-collapsed-category>
    </div>
  </div>
</div>
