<form [formGroup]="logForm" (ngSubmit)="createUser()">

  <div class="form-group">
    <input 
      type="username" 
      id="username" 
      class="form-control" 
      placeholder="Username"
      formControlName="username"
      >
    <div *ngIf="!logForm.get('username').valid && logForm.get('username').touched"
        class="alert alert-danger">
        <div [hidden]="!logForm.get('username').errors['required']">
          Podaj username (od 2 do 14 znaków)
        </div>
        <div [hidden]="!logForm.get('username').errors['pattern']">
          Podane username jest niepoprawne
        </div>
        <div [hidden]="!logForm.get('username').errors['minlength']">
          Podaj username (od 2 do 14 znaków)
        </div>
        <div [hidden]="!logForm.get('username').errors['maxlength']">
          Podaj username (od 2 do 14 znaków)
        </div>
    </div>
  </div>
  <div class="form-group mt-4">
    <input 
      type="email" 
      id="email" class="form-control mb-2" placeholder="Email"
      formControlName="email"
      >
    <div *ngIf="!logForm.get('email').valid && logForm.get('email').touched"
        class="alert alert-danger">
        <div [hidden]="!logForm.get('email').errors['required']">
          Podaj e-mail
        </div>
        <div [hidden]="!logForm.get('email').errors['email']">
          Podany e-mail jest niepoprawny
        </div>
    </div>
  </div>
  <div class="form-group">
    <input 
      type="password" 
      id="password" 
      class="form-control" 
      placeholder="Hasło"
      formControlName="password"
      >
    <div *ngIf="!logForm.get('password').valid && logForm.get('password').touched"
        class="alert alert-danger">
        <div [hidden]="!logForm.get('password').errors['required']">
          Podaj hasło (od 6 do 24 znaków)
        </div>
        <div [hidden]="!logForm.get('password').errors['minlength']">
          Podaj hasło (od 6 do 24 znaków)
        </div>
        <div [hidden]="!logForm.get('password').errors['maxlength']">
          Podaj hasło (od 6 do 24 znaków)
        </div>
    </div>
  </div>
  <div class="form-group">
    <input 
      type="password" 
      id="ConfirmPassword" 
      class="form-control" 
      placeholder="Potwierdź hasło"
      formControlName="ConfirmPassword"
      >
    <div *ngIf="!logForm.get('ConfirmPassword').valid && logForm.get('ConfirmPassword').touched"
        class="alert alert-danger">
        <div [hidden]="!logForm.get('ConfirmPassword').errors['required']">
          Podaj hasło (od 6 do 24 znaków)
        </div>
        <div [hidden]="!logForm.get('ConfirmPassword').errors['matchOther']">
          Podane hasła nie są identyczne
        </div>
        <div [hidden]="!logForm.get('ConfirmPassword').errors['minlength']">
          Podaj hasło (od 6 do 24 znaków)
        </div>
        <div [hidden]="!logForm.get('ConfirmPassword').errors['maxlength']">
          Podaj hasło (od 6 do 24 znaków)
        </div>
    </div>
  </div>

  <!-- <div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">Zapamiętaj mnie</label>
  </div> -->
  <p *ngIf="success" class="text-center mt-4 mb-4 alert alert-success">{{success}}</p>
  <p *ngIf="error" class="text-center mt-4 mb-4 alert alert-danger">{{error}}</p>
  <button
    type="submit"
    [disabled]="logForm.invalid"
    class="btn btn-lg pinkBtn btn-block text-uppercase mt-5" 
  >zarejestruj</button>
  <hr class="my-4">
  <p class="text-center">Masz już konto? <a class="bottomLink" [routerLink]="[ '/konto/', 'logowanie' ]">Zaloguj się!</a></p>
</form>