.heading h2 {
    border-bottom: 2px solid #969696;
    text-align: center;
}
.catName {
    color: #a96f44;
}
.catName:hover {
    color: #c75253;
}

@media (min-width: 992px) {
    .heading h2 {
        width: 40%;
        text-align: left;
    }
}
