<div class="container py-5">
  <div class="heading mb-5 ml-md-3">
    <h2 class="pb-2">Kategoria: <a class="catName" href="#">{{categoryName.toUpperCase()}}</a></h2>
  </div>
  <div class="row">
    <div class="col-6 col-lg-3">
      <app-collapsed-article></app-collapsed-article>
    </div>
    <div class="col-6 col-lg-3">
      <app-collapsed-article></app-collapsed-article>
    </div>
    <div class="col-6 col-lg-3">
      <app-collapsed-article></app-collapsed-article>
    </div>
    <div class="col-6 col-lg-3">
      <app-collapsed-article></app-collapsed-article>
    </div>
  </div>
  <div class="text-right mt-5">
    <app-btn-see-more></app-btn-see-more>
  </div>
</div>
