<div class="output">
  <div class="container-fluid imgBgr">
  </div>
  <div class="container-fluid heading text-center">
    <h1 class="mx-auto px-3 hMarg">stwórz własny niepowtarzalny artykuł</h1>
    <div class="pt-4">
      <img src="./assets/img/cup.png" width="60px" alt="cup of coffee">
    </div>
  </div>
</div>

<!-- <div class="container text-center mt-4">
  <h5 class="mx-auto">Stworzony przez Ciebie artykuł zostanie sprawdzony przez moderatora i po tym opublikowany na serwisie</h5>
</div> -->

<div class="container contBgr py-5 my-5 px-md-5">
  <form [formGroup]="newArtForm" (ngSubmit)="addArticle()">
    <div class="form-group">
      <label for="title" class="labelStyle">Tytuł artykułu</label>
      <input type="text" class="form-control" id="title" formControlName="title">
      <div *ngIf="newArtForm.get('title').invalid && newArtForm.get('title').touched"
				    class="alert alert-danger mt-2">
				    <div [hidden]="!newArtForm.get('title').errors['required']">
				      Podaj tytuł (od 2 do 120 znaków)
				    </div>
				    <div [hidden]="!newArtForm.get('title').errors['minlength']">
				      Podaj tytuł (od 2 do 120 znaków)
				    </div>
				    <div [hidden]="!newArtForm.get('title').errors['maxlength']">
				      Podaj tytuł (od 2 do 120 znaków)
				    </div>
				</div>
    </div>

    <div class="form-group">
      <label for="category" class="labelStyle">Kategoria</label>
      <select class="form-control custom-select" id="category" formControlName="category">
        <option *ngFor="let cat of catOptions" [value]="cat.value">
          {{cat.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="description" class="labelStyle">Zawartość artykułu</label>
      <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
    </div>
 
    <div class="form-group form-inline">
      <label for="colorText" class="labelStyle">Kolor tytułu</label>
      <input 
        [(colorPicker)]="tcolor"
        [cpPosition]="'bottom'"
        [style.background]="tcolor" 
        class="form-control tbColor ml-3 mr-4" 
        id="colorText" 
        [value]="tcolor" 
        formControlName="colorText"
        (click)="updateName()">
      <label for="colorBgr" class="labelStyle">Kolor tła</label>
      <input 
        [(colorPicker)]="bcolor"
        [cpPosition]="'bottom'"
        [style.background]="bcolor" 
        class="form-control tbColor ml-3 mr-4" 
        id="colorBgr" 
        formControlName="colorBgr"
        [value]="bcolor" 
        (click)="updateName()">
    </div>
    <label for="colorText" class="labelStyle">Tak będzie wyglądał nagłówek twojego artykułu</label>
    <div [style.background]="bcolor">
      <p [style.color]="tcolor" class="text-center p-4">{{ article.title }}</p>
    </div>

    <div class="form-group">
      <label for="faIcon" class="labelStyle icLabel">Ikonka</label>
      <select class="form-control custom-select icSelect" id="faIcon" formControlName="faIcon" (click)="chooseIc()">
        <option *ngFor="let ic of iconsArray" [value]="ic">
          {{ ic }}
        </option>
      </select>
      <span class="">Twój wybór: <i class="fa fa-2x" [ngClass]="article.artColors[2]"></i></span>

      <div *ngIf="newArtForm.get('faIcon').invalid && newArtForm.get('faIcon').touched"
          class="alert alert-danger mt-2">
          <div [hidden]="!newArtForm.get('faIcon').errors['required']">
            Musisz wybrać ikonkę
          </div>
      </div>

    </div>

    <div class="form-group">
      <label for="author" class="labelStyle">Widoczność autora w artykule</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="isAuthor" formControlName="author" [value]="user?.username">
        <label class="form-check-label" for="isAuthor">Pokaż autora <strong>{{ user?.username }}</strong></label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="noAuthor" formControlName="author" value="Anonim">
        <label class="form-check-label" for="noAuthor">Zostań anonimem</label>
      </div>
    </div>

    <div class="btnGroup">
      <button type="button" (click)="onReset()" class="btn btn-lg btnReset mr-4">Anuluj<i class="fa fa-times ml-2 my-auto"></i></button>
      <button 
        *ngIf="!onEdit"
        type="submit" 
        [disabled]="newArtForm.invalid"
        class="btn btn-lg btnPink"
      >Dodaj artykuł<i class="fa fa-save ml-2 my-auto"></i>
      </button>
      <button 
        *ngIf="onEdit"
        type="submit" 
        [disabled]="newArtForm.invalid"
        class="btn btn-lg btnPink"
      >Zapisz zmiany<i class="fa fa-save ml-2 my-auto"></i>
      </button>
    </div> 

    <p *ngIf="success" class="mt-4 mb-4 alert alert-success mt-2">{{success}}</p>
    <p *ngIf="error" class="mt-4 mb-4 alert alert-danger mt-2">{{error}}</p>

  </form>
</div>