/* * {
	outline: none;
	box-shadow: none;
} */
button:focus, input:focus, .btn:focus, .form-control:focus {
	outline:0;
	box-shadow:none;
}
.btn {
    color: #fcfcfc;
}
.btn:hover {
	color: #fcfcfc;
}
a:link, a:visited, a:active, a:hover {
	text-decoration: none
}

h1 {
	font-size: 3.2rem;
}
h2 {
	font-size: 2rem;
}

.contBgr {
    background-color: #f3f1f1;
}

